*{
    margin: 0;
    padding: 0;
}
:root {
    font-size: 10px;

}
body {
    position: fixed;
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;

}
.rond {
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    position : absolute ;
    border-radius: 50%;
}

@keyframes ret {
    100% {
        width: 0;
        height: 0;
    }
}
.burger-menu {
    background : transparent;
    border: none;
    outline:none;
    z-index: 999999;
    position: absolute;
    top: 0;
    left:0;
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}
span.bar {
    position: absolute;
    display: block;
    width: 80%;
    border-radius: 9999rem;
    height: .8rem;
    background-color: #222;
    top: 50%;
    left: 50%;
}

.a {
    transform: translate(-50%, -2rem);
}
.b {
    transform: translate(-50%, -50%);
}
.c {
    transform: translate(-50%, 1.2rem);
}
.settings {
    transform: translateX(0vw);
    transition: transform 1s;
    cursor: initial;
    right: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 99999;
    height: 100vh;
    width: 25vw;
    background-color: rgb(174, 174, 255);
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
h1 {
    margin-TOP: 7rem;
    font-size: 2.3rem;
}
nav {
    height: 100%;
    width: 100%;
}
ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.8rem;
    list-style: none;
}
li {
    margin-left: 1rem;
    display: flex;
}
button.colorbutton {
    background-size: cover;
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
    border: 1px #222 solid;
    outline: none;
}
#taille::-webkit-slider-runnable-track {
    
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #666;

}
#taille {
    margin-left: 1rem;
    margin-top: .5rem;
    -webkit-appearance: none;
    height: 1rem;
    border: none;
    border-radius: 9999px;
    outline: none;
}
#taille::-webkit-slider-thumb{
    cursor: pointer;
    border-radius: 50%;
     -webkit-appearance: none;
    background-color: white;
    height: 1.3rem;
    width: 1.3rem;
    transform: translateY(-0.15rem);
}

select {
    cursor: pointer;
    background-color: #666;
    border-radius: 9999px;
    color: white;
    margin-left: 1rem;
    font-weight: bold;
    outline: none;
    border : none;

}

@keyframes multicolorP {
    0% {
        border: rgb(255, 0, 0) solid;
        
        }
    20% {
        border: rgb(255, 255, 0)  solid;
    }
    40% {
        border: rgb(0, 255, 0)  solid;
    }
    60% {
        border: rgb(0, 255, 255)  solid;
    }
    80% {
        border: rgb(255, 0, 255)  solid;
    }

    100% {

        border: rgb(255, 0, 0) solid;
        width: 0;
        height: 0;
    }
}
@keyframes multicolorPG {
    0% {
        border: rgb(255, 0, 0) solid 6px;
        
        }
    20% {
        border: rgb(255, 255, 0)  solid 6px;
    }
    40% {
        border: rgb(0, 255, 0)  solid 6px;
    }
    60% {
        border: rgb(0, 255, 255)  solid 6px;
    }
    80% {
        border: rgb(255, 0, 255)  solid 6px;
    }

    100% {

        border: rgb(255, 0, 0) solid 6px;
        width: 0;
        height: 0;
    }
}

@keyframes multicolorPF {
    0% {
        border: rgb(255, 0, 0) solid 1.5px;
        
        }
    20% {
        border: rgb(255, 255, 0)  solid 1.5px;
    }
    40% {
        border: rgb(0, 255, 0)  solid 1.5px;
    }
    60% {
        border: rgb(0, 255, 255)  solid 1.5px;
    }
    80% {
        border: rgb(255, 0, 255)  solid 1.5px;
    }

    100% {

        border: rgb(255, 0, 0) solid 1.5px;
        width: 0;
        height: 0;
    }
}

@keyframes multicolorD {
    0% {
        border: rgb(255, 0, 0) dashed;
        
        }
    20% {
        border: rgb(255, 255, 0)  dashed;
    }
    40% {
        border: rgb(0, 255, 0)  dashed;
    }
    60% {
        border: rgb(0, 255, 255)  dashed;
    }
    80% {
        border: rgb(255, 0, 255)  dashed;
    }

    100% {

        border: rgb(255, 0, 0) dashed;
        width: 0;
        height: 0;
    }
}
@keyframes multicolorDG {
    0% {
        border: rgb(255, 0, 0) dashed 6px;
        
        }
    20% {
        border: rgb(255, 255, 0)  dashed 6px;
    }
    40% {
        border: rgb(0, 255, 0)  dashed 6px;
    }
    60% {
        border: rgb(0, 255, 255)  dashed 6px;
    }
    80% {
        border: rgb(255, 0, 255)  dashed 6px;
    }

    100% {

        border: rgb(255, 0, 0) dashed 6px;
        width: 0;
        height: 0;
    }
}

@keyframes multicolorDF {
    0% {
        border: rgb(255, 0, 0) dashed 1.5px;
        
        }
    20% {
        border: rgb(255, 255, 0)  dashed 1.5px;
    }
    40% {
        border: rgb(0, 255, 0)  dashed 1.5px;
    }
    60% {
        border: rgb(0, 255, 255)  dashed 1.5px;
    }
    80% {
        border: rgb(255, 0, 255)  dashed 1.5px;
    }

    100% {

        border: rgb(255, 0, 0) dashed 1.5px;
        width: 0;
        height: 0;
    }
}
@media (max-width : 1010px) {
    :root {
        font-size: 7px;
    }
}
@media (max-width : 870px) {
    :root {
        font-size: 5px;
    }
}
@media (max-width : 750px) {
.settings{
    width: 35vw;
    right: 100%;
}
@media (max-width : 550px) {
    .settings{
        width: 50vw;
        right: 100%;
    }
    @media (max-width : 400px) {
        .settings{
            width: 70vw;
            right: 100%;
        }
        @media (max-width : 300px) {
            .settings{
                width: 100vw;
                right: 100%;
            }
            
    

}
