*{
    margin: 0;
    padding: 0;
}
body {
    cursor: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rond {
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: red solid;
    position : absolute ;
    animation : ret 1s linear forwards;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .03);

}
@keyframes ret {
    0% {
        border: rgb(255, 0, 0) solid;
    }
    20% {
        border: rgb(255, 255, 0)  solid;
    }
    40% {
        border: rgb(0, 255, 0)  solid;
        background-color: rgba(0, 0, 0, .0);

    }
    60% {
        border: rgb(0, 255, 255)  solid;
    }
    80% {
        border: rgb(255, 0, 255)  solid;
    }

    100% {
        border: rgb(255, 0, 0) solid;
        background-color: rgba(0, 0, 0, .0);
        width: 0;
        height: 0;
    }
}
